body{
    margin: 0;
    padding: 0;
    
    
}

li, ul{
    /* removes bullets */
    list-style-type: none;
    margin: 0;
}

:root{
    --main-light-color: #FEFAE0;
    --main-medium-color: #606C38;
    --main-dark-color: #283618;
}

.flexContainer{
    display: flex;
    flex: 0 1 auto;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    border: 1px solid blue;
    
}

.gridContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr ;
    
}


.gridContainer>div{
    border: 1px solid red;
    
}

/* SIDEBAR AREA--------------------- */

.sidebar{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--main-dark-color);
    color: var(--main-light-color);

}

.listLinks{
    padding-top: 10px;
    display: grid;
    gap: 30px;
}



.logoArea{
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}
.logo{
    width: 30%;
}

.listLinks>li{
    display: flex;
    align-items: center;
    gap:10px
}

.listLinks>li>img{
    width: 15%;

}

/* HEADER AREA---------------------- */

.header{
    background-color: var(--main-medium-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: var(--main-light-color);
}

.greeting{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    /* greeting buttons */
.greeting>ul{
    display: flex;
    gap: 30px;
    align-items: center;
}


.greeting>ul>li{
    background-color: lightblue;
    padding: 10px;
    border-radius: 20px;
}

/* CONTENT AREA---------------------- */

.content{
    background-color: var(--main-light-color);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects{
    
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 20px;
    padding: 40px;
    
}

.projects>div{
    border: 1px solid lightseagreen;
}

.news, .trending{
    border: 1px solid black;
    display: grid;
    align-items: center;
    padding-left: 10%;
}

