body{
    margin: 0;
    padding: 0;
    background-color: var(--main-dark-color);
    
}

li, ul{
    /* removes bullets */
    list-style-type: none;
    margin: 0;
}

:root{
    --main-light-color: #FEFAE0;
    --main-medium-color: #606C38;
    --main-dark-color: #283618;
    --card-border-radius:20px
}

.flexContainer{
    display: flex;
    flex: 0 1 auto;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    
}

.gridContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr ;
    
}


/* SIDEBAR AREA--------------------- */

.sidebar{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--main-medium-color);
    color: var(--main-light-color);
    border-top-right-radius: 20%;
    color: black;
}

.listLinks{
    padding-top: 10px;
    display: grid;
    gap: 30px;
}



.logoArea{
    display: flex;
    gap: 10px;
    padding-left: 20px;
    justify-content: start;
    align-items: center;
    font-size: 1.5em;
}
.logo{
    width: 30%;
}

.listLinks>li{
    display: flex;
    align-items: center;
    gap:10px
}

.listLinks>li>img{
    max-width: 30px;

}

/* HEADER AREA---------------------- */

.header{
    background-color: var(--main-dark-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: var(--main-light-color);
}

.greeting{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    
}

    /* greeting buttons */
.greeting>ul{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-self: right;
    padding-right: 5%;
}


.greeting>ul>li{
    background-color: var(--main-medium-color);
    padding: 10px;
    border-radius: var(--card-border-radius);

}

.greeting>div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10%;
    margin-bottom: 10px;

}


#userPfp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit:cover;
    
}

#searchBar{
    display: flex;
    align-items: center;
    margin-left: 5%;
}

#searchBar>input[type="text"]{
    width: max(30%,40%);
    margin: 10px;
    border-radius: 10px;
    background-color: var(--main-light-color);
}

#searchBar>input[type="text"]:focus{
    outline: none;
}

#searchBar>input[type="image"]{
    max-width: 30px;
}

/* CONTENT AREA---------------------- */

.content{
    background-color: var(--main-light-color);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects{
    
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 350px));
    justify-content: center;
    text-align: left;
    gap: 20px;
    padding: 40px;
    box-sizing: border-box;
    
    
}

.projects>div{
    background-color: wheat;
    border-radius: var(--card-border-radius);
    padding-left: 30px;

}

.projects>div>p{
    inline-size: 50%;
    
}

        /* news and trending area  */
.news, .trending{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 10%;

    align-self: center;
    margin-right: 10%;;

    background-color: wheat;
    border-radius: var(--card-border-radius);
    
    
}



.news>div>h5, .trending>div>h5{
    margin:0;
    margin-top: 10px;
    margin-bottom: 0;
    text-decoration: underline;
}

.news>div>p, .trending>div>p{
    font-size: .9em;
    margin-top: 2px;
    
}

